<%= form_with model: group do |form| %>
    <div>
      <%= form.label :Group_name %><br>
      <%= form.text_field :Group_name %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>